.map
	background-repeat: no-repeat
	background-position: center
	background-size: contain
	width: $width
	height: $height
	// box-shadow: 5px 10px 15px rgba(0, 0, 0, .2)
	transition: all .5s
	position: absolute
	top: 0
	left: 0
	cursor: crosshair
	transform: translateX(-50%) translateY(-50%) rotateX(80deg) rotateZ(10deg) translateZ(0px)  scale(1)

	&--top
		transform: translateX(-50%) translateY(-50%) rotateX(80deg) rotateZ(10deg) translateZ(1000px) scale(1)

	&--bottom
		transform: translateX(-50%) translateY(-50%) rotateX(80deg) rotateZ(10deg) translateZ(-1000px) scale(1)

	&--select
		transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateZ(0deg) translateZ(0) scale(1)

	
	&--fade
		opacity: 0.4

	&__close 
		position: absolute
		top: 0
		right: 0
		width: 50px
		height: 50px
		border: 0
		background: transparent
		opacity: 0
		pointer-events: none
		transition: .5s
		transform: translateY(20px)
		background-image: url("./img/close.svg")
		background-size: 50%
		background-repeat: no-repeat
		background-position: center
		z-index: 999
		filter: invert(100%)
		&--display
			opacity: 1
			pointer-events: all
			transform: translateY(0)

		&:hover svg
			fill: black
		i
			font-size: 30px
			color: black

	&__container
		perpsective: 1000px
		position: absolute
		top: 50%
		left: 50%
		width: 0
		height: 0
	
		


	&__nav
		top: 0
		right: 0
		height: 100%
		position: absolute
		font-size: 14px
		width: $nav-width
		display: flex
		flex-direction: column
		justify-content: center
		z-index: 2

		&--responsive 
			width: 100%
			height: 100px
			bottom: 0
			top: auto
			right: auto
			left: 0
			flex-direction: row
			.map__nav-item
				padding: 0 $nav-item-padding 
				&::after
					display: none !important

		&-item
			font-weight: normal
			text-align: left
			padding: $nav-item-padding 0 $nav-item-padding $nav-item-padding 
			position: relative
			transition: .4s
			color: $color-primary
			cursor: pointer
			font-size: 2em
			text-transform: none
			letter-spacing: 0
			height: $nav-item-height
			box-sizing: content-box

			&::before
				content: ""
				display: block
				position: absolute
				left: 0
				top: $nav-item-padding + $nav-item-height/2
				width: 10px
				height: 10px
				transform: translateX(-5px) translateY(-5px)
				background-color: $color-primary
				border-radius: 100%

			&:not(:last-child)
				margin-bottom: $nav-step
				&::after
					content: ""
					display: block
					width: 1px
					height: $nav-step + $nav-item-height + 2*$nav-item-padding
					background-color: $color-primary
					position: absolute
					left: 0
					top: $nav-item-padding + $nav-item-height/2
			

			&--disable
				color: #DDD

			&--active
				color: $color-primary

@media screen and (max-width: 650px)
	.map 
		width: 300px
		height: 300px
