.#{$prefix}map
	background-repeat: no-repeat
	background-position: center
	background-size: contain
	width: $width
	height: $height
	// box-shadow: 5px 10px 15px rgba(0, 0, 0, .2)
	transition: all .5s
	position: absolute
	top: 0
	left: 0
	cursor: crosshair
	transform: translateX(-50%) translateY(-50%) rotateX(80deg) rotateZ(10deg) translateZ(0px)  scale(1)

	&--top
		transform: translateX(-50%) translateY(-50%) rotateX(80deg) rotateZ(10deg) translateZ(1000px) scale(1)

	&--bottom
		transform: translateX(-50%) translateY(-50%) rotateX(80deg) rotateZ(10deg) translateZ(-1000px) scale(1)

	&--select
		transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateZ(0deg) translateZ(0) scale(1)

	
	&--fade
		opacity: 0.4

	&__close 
		position: absolute
		top: 0
		right: 0
		width: 50px
		height: 50px
		border: 0
		background: transparent
		opacity: 0
		pointer-events: none
		transition: .5s
		transform: translateY(20px)
		background-image: url("./img/close.svg")
		background-size: 50%
		background-repeat: no-repeat
		background-position: center
		z-index: 999
		filter: invert(100%)
		&--display
			opacity: 1
			pointer-events: all
			transform: translateY(0)

		&:hover svg
			fill: black
		i
			font-size: 30px
			color: black

	&__container
		perpsective: 1000px
		position: absolute
		top: 50%
		left: 50%
		width: 0
		height: 0
	

.#{$prefix}photo__thumbnail-back
	.#{$prefix}map--select
		transform: translateX(0) translateY(0)
		height: calc(100% - 20px)
		width: calc(100% - 20px)
		top: 10px
		left: 10px

@media screen and (max-width: 650px)
	.#{$prefix}map 
		width: 300px
		height: 300px
