.v360-marker {
  display: block;
  position: absolute;
  opacity: 0;
  pointer-events: none; }
  .v360-marker--display {
    pointer-events: all;
    opacity: 1; }
    .v360-marker--display .v360-marker__point {
      transform: translateZ(20px) translateX(-50%) translateY(-50%) scale(1); }
      .v360-marker--display .v360-marker__point:hover {
        transform: translateZ(20px) translateX(-50%) translateY(-50%) scale(1.3); }
    .v360-marker--display .v360-marker__title {
      opacity: 1;
      transform: translateY(0); }
  .v360-marker__point {
    transform: translateZ(20px) translateX(-50%) translateY(-50%) scale(0);
    border-radius: 100%;
    transform-style: preserve-3d;
    background-color: #ffed00;
    transition: all 1s;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: zoom-in;
    width: 15px;
    height: 15px; }
    .v360-marker__point::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      border: 2px solid #ffed00;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      transition: .3s; }
    .v360-marker__point--no-transition {
      transition: none !important; }
    .v360-marker__point--zoom {
      animation: none !important;
      width: 200vw !important;
      height: 200vw !important;
      top: 50% !important;
      left: 50% !important;
      background-color: #000 !important;
      transform: scale(1) translateX(-51%) translateY(-51%) !important; }
      .v360-marker__point--zoom::after {
        display: none; }
  .v360-marker--overall {
    z-index: 2;
    position: fixed; }
  .v360-marker__title {
    color: #ffed00;
    position: absolute;
    bottom: 30px;
    left: -14px;
    width: 120px;
    font-size: 14px;
    font-weight: bold;
    transform: translateY(-20px);
    opacity: 0;
    transition: .4s ease-in; }
  .v360-marker__bubble {
    width: 150px;
    height: 140px;
    position: absolute;
    right: 35px;
    top: -13px;
    opacity: 0;
    transition: .4s;
    z-index: 3;
    transform: translateY(20px);
    opacity: 0;
    transition: .3s ease-in-out;
    pointer-events: none; }
    .v360-marker__bubble--visible {
      display: block;
      opacity: 1;
      transform: translateY(0); }
    .v360-marker__bubble--hidden {
      display: block;
      opacity: 0;
      transform: translateY(20px); }
    .v360-marker__bubble--bottom {
      top: auto;
      bottom: 10px; }
      .v360-marker__bubble--bottom.marker__bubble--hidden {
        transform: translateY(-20px); }
    .v360-marker__bubble-title {
      padding: 10px;
      height: 25px;
      box-sizing: content-box;
      text-align: center;
      background-color: #ffed00;
      color: black; }
    .v360-marker__bubble-img {
      width: 100%;
      height: calc(100% - 35px);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }

.v360-photo__thumbnail-back .v360-marker__point {
  width: 5px;
  height: 5px; }
  .v360-photo__thumbnail-back .v360-marker__point::after {
    width: 10px;
    height: 10px;
    opacity: 0; }

.v360-photo__thumbnail-back .v360-marker__title {
  transform: translateY(0);
  pointer-events: none;
  opacity: 0; }

.v360-photo__thumbnail-back .v360-marker:hover .v360-marker__title {
  opacity: 1; }

.v360-photo__thumbnail-back .v360-marker__bubble {
  display: none; }

.v360-photo__thumbnail-back:hover .v360-marker__point {
  width: 10px;
  height: 10px; }
  .v360-photo__thumbnail-back:hover .v360-marker__point::after {
    width: 20px;
    height: 20px;
    opacity: 1; }

@keyframes bounce {
  0% {
    width: 15px;
    height: 15px; }
  50% {
    width: 26px;
    height: 26px; }
  100% {
    width: 15px;
    height: 15px; } }

.v360-map {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 450px;
  height: 450px;
  transition: all .5s;
  position: absolute;
  top: 0;
  left: 0;
  cursor: crosshair;
  transform: translateX(-50%) translateY(-50%) rotateX(80deg) rotateZ(10deg) translateZ(0px) scale(1); }
  .v360-map--top {
    transform: translateX(-50%) translateY(-50%) rotateX(80deg) rotateZ(10deg) translateZ(1000px) scale(1); }
  .v360-map--bottom {
    transform: translateX(-50%) translateY(-50%) rotateX(80deg) rotateZ(10deg) translateZ(-1000px) scale(1); }
  .v360-map--select {
    transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateZ(0deg) translateZ(0) scale(1); }
    .v360-map--select .v360-map__thumbnail {
      opacity: .4; }
  .v360-map--fade {
    opacity: 0.4; }
  .v360-map__thumbnail {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 450px;
    height: 450px;
    opacity: 1;
    transition: .4s ease;
    max-width: 100%;
    max-height: 100%; }
  .v360-map__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: 0;
    background: transparent;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    transform: translateY(20px);
    background-image: url("./img/close.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
    filter: invert(100%); }
    .v360-map__close--display {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0); }
    .v360-map__close:hover svg {
      fill: black; }
    .v360-map__close i {
      font-size: 30px;
      color: black; }
  .v360-map__container {
    perpsective: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0; }

.v360-photo__thumbnail-back .v360-map--select {
  transform: translateX(0) translateY(0);
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  top: 10px;
  left: 10px; }

@media screen and (max-width: 650px) {
  .v360-map {
    width: 300px;
    height: 300px; } }

.v360-nav {
  top: 0;
  right: 0;
  height: 100%;
  position: absolute;
  font-size: 14px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2; }
  .v360-nav--responsive {
    width: 100%;
    height: 60px;
    bottom: 0;
    top: auto;
    right: auto;
    left: 0;
    flex-direction: row; }
    .v360-nav--responsive .v360-nav__item {
      padding: 0 20px; }
      .v360-nav--responsive .v360-nav__item::after {
        display: none !important; }
      .v360-nav--responsive .v360-nav__item::before {
        display: none !important; }
    .v360-nav--responsive .v360-nav__pointer {
      display: none; }
  .v360-nav__pointer {
    width: 16px;
    height: 16px;
    position: absolute;
    background-color: #ffed00;
    border-radius: 100%;
    transform: translateX(-8px) translateY(-8px) scale(0);
    opacity: 0; }
    .v360-nav__pointer--active {
      transition: .4s;
      transform: translateX(-8px) translateY(-8px) scale(1);
      opacity: 1; }
  .v360-nav__item {
    font-weight: normal;
    text-align: left;
    padding: 20px 0 20px 20px;
    position: relative;
    transition: .4s;
    color: #ffed00;
    cursor: pointer;
    font-size: 2em;
    text-transform: none;
    letter-spacing: 0;
    height: 60px;
    box-sizing: content-box; }
    .v360-nav__item::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 50px;
      width: 10px;
      height: 10px;
      transform: translateX(-5px) translateY(-5px) scale(1);
      background-color: #ffed00;
      border-radius: 100%;
      transition: .4s;
      opacity: 0.7; }
    .v360-nav__item:not(.v360-nav__item--last) {
      margin-bottom: 70px; }
      .v360-nav__item:not(.v360-nav__item--last)::after {
        content: "";
        display: block;
        width: 1px;
        height: 170px;
        background-color: #ffed00;
        position: absolute;
        left: 0;
        top: 50px; }
    .v360-nav__item--disable {
      color: #DDD; }
    .v360-nav__item--active {
      color: #ffed00; }
      .v360-nav__item--active::before {
        opacity: 1;
        transform: translateX(-5px) translateY(-5px) scale(1.3); }

.v360-photo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; }
  .v360-photo__thumbnail-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-image: image-url("plan.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-100%);
    transition: .5s;
    z-index: 5;
    background-color: black;
    cursor: zoom-out; }
    .v360-photo__thumbnail-back-container {
      height: 90%;
      width: 90%;
      position: relative;
      top: 5%;
      left: 5%; }
    .v360-photo__thumbnail-back-img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: auto; }
    .v360-photo__thumbnail-back-message {
      position: absolute;
      top: 100%;
      color: #ffed00;
      font-weight: bold;
      width: 100%;
      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase; }
    .v360-photo__thumbnail-back--zoom, .v360-photo__thumbnail-back:hover {
      width: 300px;
      height: 300px; }
    .v360-photo__thumbnail-back--display {
      transform: translateY(0); }
  .v360-photo__canvas {
    opacity: 0;
    transition: 1s;
    cursor: move; }
  .v360-photo__sidebar {
    position: fixed;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 30px;
    top: 0;
    right: 0;
    transition: .5s ease-in-out;
    transform: translateX(100%);
    box-sizing: border-box;
    width: 25%;
    min-width: 300px;
    max-width: 400px;
    color: white;
    z-index: 999; }
    .v360-photo__sidebar--display {
      transform: translateX(0); }
    .v360-photo__sidebar-close {
      position: absolute;
      top: 10px;
      left: 10px;
      color: white;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      transition: all .4s;
      background-image: url("./img/arrow.svg");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
      filter: invert(100%);
      transform: rotate(180deg); }
      .v360-photo__sidebar-close--reverse {
        left: -60px;
        transform: rotate(0deg); }
      .v360-photo__sidebar-close i {
        font-size: 40px; }
    .v360-photo__sidebar-title {
      margin: 40px 0 20px 0;
      letter-spacing: 0;
      font-weight: bold;
      color: #ffed00;
      text-align: left;
      font-size: 1.7em; }
    .v360-photo__sidebar-content {
      font-weight: 100;
      line-height: 1.5;
      letter-spacing: 0px; }
  .v360-photo--loading {
    z-index: 1001;
    opacity: 1; }
  .v360-photo--display {
    z-index: 1001; }
    .v360-photo--display .v360-photo__canvas {
      opacity: 1; }

@media screen and (max-width: 500px) {
  .v360-photo__sidebar {
    width: 100%; } }

/* LOADER 3 */
.v360-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transition: .4s; }

.v360-photo--loading .v360-loader {
  opacity: 1; }

#loader-square {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto; }
  #loader-square::before, #loader-square::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: calc(50% - 10px);
    background-color: #ffed00;
    animation: squaremove 1.5s ease-in-out infinite; }
  #loader-square::after {
    bottom: 0;
    animation-delay: .75s; }

@keyframes squaremove {
  0%, 100% {
    transform: translate(0, 0) rotate(0); }
  25% {
    transform: translate(40px, 40px) rotate(45deg); }
  50% {
    transform: translate(0px, 80px) rotate(0deg); }
  75% {
    transform: translate(-40px, 40px) rotate(45deg); } }

.v360-visite {
  font-family: inherit; }
  .v360-visite__title {
    position: fixed;
    top: 30px;
    left: 30px; }
  .v360-visite__util {
    width: 100%;
    height: 100%;
    position: relative; }
  .v360-visite__archive {
    opacity: 1;
    transition: opacity 1s;
    overflow: hidden;
    position: relative;
    z-index: 1;
    min-height: 450px; }
    .v360-visite__archive--hide {
      opacity: 0; }
